* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
}

.colorlist {
  text-align: left;
  font-size: 1.25em;
  line-height: 2em;
  text-decoration: none;
}

.header {
  background-color: rgb(54,60,60);
  width: 100%;
  height: 100px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 50px;
  height: 50px;
  margin: auto auto auto 25px;
}

.page {
  display: flex;
  height: 100%;
  width: 100%;
}

.randombutton {
  margin: 0px auto 50px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  font-size: 1em;
}

.search {
  width: 180px;
  height: 40px;
  margin: auto 25px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

.sidebar {
  height: auto;
  width: 350px;
  background-color: rgb(214,214,216);
  border: 1px solid rgb(173,173, 173);
  /* text-align: center; */
  align-content: center;
  font-family: 'Source Serif Pro', serif;
  padding: 25px;
}

.viewport {
  width: 100%;
  height: 100%;
  /* -moz-box-shadow:    inset 0 0 10px #000000; */
  /* -webkit-box-shadow: inset 0 0 10px #000000; */
  box-shadow:         inset 3px 3px 5px lightgray;
}